@font-face {
  font-family: 'gistesy';
  src: url('/src/fonts/Gistesy-Font/Gistesy.ttf') format('truetype');
}
@font-face {
  font-family: 'blackline';
  src: url('/src/fonts/KH-Blackline-Script/KH-Blackline-Script-Medium.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
